<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django Test</title>
    </head>
    <body>
        <h1>Hola</h1>
        <p>Squidward... I used your clarinet to unclog my toilet! Squidward, you're steaming. you're like a steamed vegetable, only smarter. You're a man now, Spongebob, and it's time you started acting like one. The maniacs in the mailbox! Squidward? Squidward! The sky had a baby from my cereal box! Can i have everybody's attention? I have to use the bathroom. If I were to die right now in a fiery explosion due to carelessness of a friend... then it would just be alright.</p>
        <br>
        <p>That's it mister! you just lost your brain priviliges! squidward... i used your clarinet to unclog my toilet! squidward, you're steaming. you're like a steamed vegetable, only smarter. you're a man now, spongebob, and it's time you started acting like one. the maniacs in the mailbox! squidward? squidward! the sky had a baby from my cereal box! can i have everybody's attention? i have to use the bathroom. </p>
    </body>
</html>